################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VotingContract/VotingContract/bin/Debug/netcoreapp3.1
